ul {
  list-style: none;
  margin-top: 5px;
}
ul li {
  display: block;
  float: left;
  width: 100%;
  height: 1%;
}
ul li label {
  float: left;
  padding: 7px;
  color: #6666ff;
}
ul li input,
ul li textarea {
  float: right;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  font-family: Georgia, Times New Roman, Times, serif;
  width: 60%;
}
li input:focus,
li textarea:focus {
  border: 1px solid #666;
}
fieldset {
  padding: 10px;
  border: 1px solid #ccc;
  width: 400px;
  overflow: auto;
  margin: 10px;
}
legend {
  color: #000099;
  margin: 0 10px 0 0;
  padding: 0 5px;
  font-size: 11pt;
  font-weight: bold;
}
label span {
  color: #ff0000;
}
fieldset#billing {
  position: absolute;
  top: 60px;
  left: 20px;
}
fieldset#shipping {
  position: absolute;
  top: 60px;
  left: 460px;
}
fieldset#submit {
  position: absolute;
  top: 540px;
  left: 20px;
  width: 840px;
  text-align: center;
}
fieldset input#SubmitBtn {
  background: #e5e5e5;
  color: #000099;
  border: 1px solid #ccc;
  padding: 5px;
  width: 150px;
}
